{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="mid">
        <div class="boxc" align="center">
            <div class="FieldWrapper"><h4>Добавление записи</h4></div>
            <form action="{% url 'passes:add_info'%}" method="post">
                {% csrf_token %}
                <div class="FieldWrapper">
                    {{ form.source_text }}
                </div>
                <div class="FieldWrapper">
                    {{ form.login_text }}
                </div>
                <div class="FieldWrapper">
                    {{ form.password_text }}
                </div>
                <div class="FieldWrapper">
                    <input type="submit" value="Готово" />
                </div>
                {% if msg %}
                <div class="FieldWrapper">
                    {{ msg }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
