{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="mid">
        <div class="boxc" align="center">
            <div class="FieldWrapper"><h4>Вход в аккаунт</h4></div>
            <form action="{% url 'passes:auth'%}" method="post">
            {% csrf_token %}
                <div class="FieldWrapper">
                    {{ form.login }}
                </div>
                <div class="FieldWrapper">
                    {{ form.password }}
                </div>
                <div class="FieldWrapper">
                    <input type="submit" value="Готово" />
                </div>
                <div class="FieldWrapper">
                    <a href="{% url 'passes:password_reset' %}">Забыли пароль?</a>
                </div>
                {% if errormsg %}
                    <div class="err">{{errormsg}}</div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
