{% extends "base.html" %}
{% block content %}
<div class="content">
    {% if del == 0 %}
        <div class="mid">
            <div class="boxc">
                <div class="FieldWrapper">Вы собираетесь удалить запись, расположенную на ресурсе {{source}} с логином {{login}}. вы уверены?</div>
                <div class="FieldWrapper" align="center"><a href="{% url 'passes:delete_info'%}?id={{ id }}&del=yes">Да</a></div>
                <div class="FieldWrapper" align="center"><a href="{% url 'passes:get_info'%}">Нет</a></div>
            </div>            
        </div>
    {% endif %}
    {% if del == 1 %}
        <div class="mid">
            <div class="boxc">
                <div class="FieldWrapper">Запись, расположенная на ресурсе {{source}} с логином {{login}} успешно удалена.</div>
                <div class="FieldWrapper"><a href="{% url 'passes:get_info'%}">Вернуться на страницу просмотра вашей информации.</a></div>
            </div>            
        </div>
    {% endif %}
    {% if del == 2 %}
        <div class="mid">
            <div class="boxc">
                <div class="FieldWrapper">Что-то не так. <a href="{% url 'passes:get_info'%}">Вернуться на страницу просмотра вашей информации.</a></div>
            </div>            
        </div>
    {% endif %}
</div>
{% endblock %}
