<h1>Удаление записи</h1>
{% if del == 0 %}
<p>Вы собираетесь удалить запись, расположенную на ресурсе {{source}} с логином {{login}}. вы уверены?
<p><a href="{% url 'passes:delete_info'%}?id={{ id }}&del=yes">Да</a>
<p><a href="{% url 'passes:get_info'%}">Нет</a>
{% endif %}
{% if del == 1 %}
<p>Запись, расположенная на ресурсе {{source}} с логином {{login}} успешно удалена.
<p><a href="{% url 'passes:get_info'%}">Вернуться на страницу просмотра вашей информации.</a>
{% endif %}
{% if del == 2 %}
<p>Что-то не так. <a href="{% url 'passes:get_info'%}">Вернуться на страницу просмотра вашей информации.</a>
{% endif %}
