<html lang="ru">
    <head>
        {% load static %}
        <meta http-equiv="Content-Type"
              content="text/html; charset=windows-1251">
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
        <script src="{% static "showpass.js" %}"></script>
        <title>{{title}}</title>
    </head>
    <body>
    <div class="topdiv">
    <ul class="menutxt">
        <li><a href="{% url 'passes:index'%}">PassHolder</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'passes:add_info'%}">Добавить&nbsp;запись</a></li>
        <li><a href="{% url 'passes:get_info'%}">Просмотреть&nbsp;записи</a></li>
        {% endif %}    
    </ul>
    <ul class="authtxt">
        {% if request.user.is_authenticated %}
        <li>Вы&nbsp;вошли&nbsp;как&nbsp;<a href="{% url 'passes:userpage'%}">{{ request.user.username }}</a></li>
        <li><a href="{% url 'passes:logout'%}">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'passes:reg'%}">Регистрация</a></li>
        <li><a href="{% url 'passes:auth'%}">Войти</a></li>
        {% endif %}
    </ul>
    <ul class="menuimg">
        <li><a href="{% url 'passes:index'%}" class="img"><img src="{% static "log.png" %}" class="menu"></a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'passes:add_info'%}" class="img"><img src="{% static "log.png" %}" class="menu"></a></li>
        <li><a href="{% url 'passes:get_info'%}" class="img"><img src="{% static "log.png" %}" class="menu"></a></li>
        {% endif %}    
    </ul>
    <ul class="authimg">
        {% if request.user.is_authenticated %}
        <li>Вы&nbsp;вошли&nbsp;как&nbsp;<a href="{% url 'passes:userpage'%}">{{ request.user.username }}</a></li>
        <li><a href="{% url 'passes:logout'%}">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'passes:reg'%}">Регистрация</a></li>
        <li><a href="{% url 'passes:auth'%}">Войти</a></li>
        {% endif %}
    </ul>
    </div>
        <div class="content">
            {% if out %}   
                <div class="boxr">
                    <div class="FieldWrapper"></h4>Поиск по записям</h4></div>
                    <form action="{% url 'passes:get_info'%}" method="post">
                        {% csrf_token %}
                        <div class="FieldWrapper">
                            {{ form.source }}
                        </div>
                        <div class="FieldWrapper">
                            {{ form.login }}
                        </div>
                        <div class="FieldWrapper" align="center">
                            <input type="submit" value="Найти" />
                        </div>
                    </form>
                </div>
                <div class="box">
                    <div class="FieldWrapper">
                        <table class="info" cellspacing="0px" cellpadding="5px">
                            <tr>
                                <td align="center">Ресурс</td>
                                <td align="center">Логин</td>
                                <td align="center">Пароль</td>
                                <td align="center">Показать пароль</td>
                                <td align="center">Удалить запись</td>
                            </tr>
                            {% for i in out %}
                            <tr>
                                <td align="center">{{ i.source }}</td>
                                <td align="center">{{ i.login }}</td>
                                <td align="center"><p id={{ i.id }}></td>
                                <td align="center"><a href="#" onclick="req_ajax_json('{{ i.id }}');" id={{ i.showid }}>Показать</a></td>
                                <td align="center"><a href="{% url 'passes:delete_info'%}?id={{ i.id }}&del=no">Удалить</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% if curpage == 1 and not out.has_next %}
                    {% else %}
                        <div class="FieldWrapper" align="center">
                            {% if out.has_previous %}
                                <span class="pagination"><a href="?page={{ out.previous_page_number }}">&lt;</a></span>
                            {% endif %}
            
                            {% for page in out.paginator.page_range %}
                                {% if page == out.number %}
                                    <span class="pagination">{{ page }}</span>
                                {% else %}
                                    <span class="pagination"><a href="?page={{ page }}">{{ page }}</a></span>
                                {% endif %}
                            {% endfor %}
        
                            {% if out.has_next %}
                                <span class="pagination"><a href="?page={{ out.next_page_number }}">&gt;</a></span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="FieldWrapper"><a href="{% url 'passes:download_info'%}?source={{ s }}&login={{ l }}">Скачать csv файл с текущей информацией</a></div>
            {% else %}
                <div class="FieldWrapper">Здесь пусто... <a href="{% url 'passes:add_info'%}">Добавить</a> записи?</div>
            {% endif %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous">
        </script>
    </body>
</html>
