{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="mid">
        <div class="boxc" align="center">
            <div class="FieldWrapper"><h4>Регистрация</h4></div>
            <form action="{% url 'passes:reg'%}" method="post">
            {% csrf_token %}
                <div class="FieldWrapper">
                    {{ form.non_field_errors }}
                </div>
                <div class="FieldWrapper">
                    {{ form.login }}
                </div>
                <div class="FieldWrapper">
                    {{ form.password }}
                </div>
                <div class="FieldWrapper">
                    {{ form.password2 }}
                </div>
                <div class="FieldWrapper">
                    {{ form.email }}
                </div>
                <div class="FieldWrapper">
                    <input type="submit" value="Готово" />
                </div>
                {% if form.email.errors %}
                    {% for err in form.email.errors%}
                        {% if err == 'Enter a valid email address.' %}
                            <div class="err" align="center">Введите правильную почту</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if errormsg %}
                    <div class="err">{{errormsg}}</div>
                {% endif %}
            </form>
        </div>    
    </div>
</div>
{% endblock %}
