body, html { 
    margin:0;
    width:100%;
    top:0px;
    left:0px;
    height:100%;
}
body {
    font-family:serif;
    font-size:16px;
}
.topdiv {
    background: #c0f7ff;
    padding: 10px;
    padding-left: 0px;
    width:calc(100% - 10px);
    height:31px;
    top:0px;
    left:0px;
    box-shadow:0 0 5px rgba(0,0,0,0.1);
    position: absolute;
}
ul.auth {
    float:right;
    text-align:right;
    margin: 6px;
}
ul.auth li {
    display: inline;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    transition: background 0.4s ease;
}
ul.auth li.auth:hover{
    background: #b2f4ff;
}
ul.menu {
    float:left;
    text-align:left;
    margin: 6px;
}
ul.menu li {
    display: inline;
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    border-radius:10px;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    transition: background 0.4s ease;
}
ul.menu li:hover{
    background: #b2f4ff;
}
a:link, a:visited{
    color:#005f66;
    text-decoration: none;
}
a:hover{
    color:#00363a;
    text-decoration: none;
}
div.content{
    padding:30px;
    padding-top:81px;
    background:#e3fdff;
    min-height: calc(100% - 111px);
}
div.FieldWrapper{
    margin:10px;
}
div.mid{
    text-align:center;
}
div.box{
    border: 2px solid #d1f7ff;
    position:relative;
    background:white;
    padding:10px;
    display: inline-block;
    border-radius:10px;
    margin: 0px 20px 20px 0px;
}
div.boxr{
    float:right;
    border: 2px solid #d1f7ff;
    position:relative;
    background:white;
    padding:10px;
    display: inline-block;
    border-radius:10px;
    margin: 0px 0px 20px 20px;
}
div.boxc{
    max-width:500px;
    border: 2px solid #d1f7ff;
    background:white;
    padding:10px;
    display: inline-block;
    border-radius:10px;
    margin: auto;
}
table.info{
    border: 1px solid #b5f2ff;
}
table.info td{
    border: 1px solid #b5f2ff;
}
span.pagination{
    margin:0px;
    padding:2px 4px;
]



