body, html { 
    margin:0;
    width:100%;
    top:0px;
    left:0px;
    height:100%;
}
body {
    font-family:serif;
    font-size:1em;
}
div.topdiv {
    background: #c0f7ff;
    padding: 10px;
    padding-left: 0px;
    min-height:31px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow:0 0 5px rgba(0,0,0,0.1);
    position: absolute;
}
ul.authtxt {
    float:right;
    text-align:right;
    margin: 6px;
    padding-left:0px;
}
ul.authtxt li {
    display: inline;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    transition: background 0.4s ease;
}
ul.authtxt li:hover{
    background: #b2f4ff;
}
ul.menutxt {
    float:left;
    text-align:left;
    margin: 6px;
    padding-left:0px;
}
ul.menutxt li {
    display: inline;
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    border-radius:10px;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    transition: background 0.4s ease;
}
ul.menutxt li:hover{
    background: #b2f4ff;
}
ul.authimg {
    display:none;
    float:right;
    margin: 4px 0px;
    height:43px;
    padding-left:0px;
}
ul.authimg li {
    display: inline;
    margin: 0px;
}
ul.menuimg {
    display:none;
    float:left;
    margin: 4px 0px;
    height:43px;
    padding-left:0px;
}
ul.menuimg li {
    display: inline;
    margin: 0px;
}
ul.menutxtnoauth{
    float:right;
    text-align:right;
    margin: 6px;
    margin-top:16px;
    padding-left:0px;
}
ul.menutxtnoauth li {
    display: inline;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    transition: background 0.4s ease;
}
ul.menutxtnoauth li:hover{
    background: #b2f4ff;
}
img.menu{
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    transition: background 0.4s ease;
    border-radius: 10px;
    padding: 10px;
    margin: auto 4px;
}
img.menu:hover{
    background: #b2f4ff;
}
a.img {
    height: 23px;
    width: 23px;
}
a:link, a:visited{
    color:#005f66;
    text-decoration: none;
}
a:hover{
    color:#00363a;
    text-decoration: none;
}
div.content{
    padding:30px;
    padding-top:81px;
    background:#e3fdff;
    min-height: calc(100% - 111px);
}
div.FieldWrapper{
    margin:10px;
}
div.mid{
    text-align:center;
}
div.box{
    border: 2px solid #d1f7ff;
    position:relative;
    background:white;
    padding:10px;
    max-width:90%;
    display: inline-block;
    border-radius:10px;
    margin: 0px auto 10px;    
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div.boxr{
    float:right;
    border: 2px solid #d1f7ff;
    position:relative;
    background:white;
    padding:10px;
    max-width:90%;
    display: inline-block;
    border-radius:10px;
    margin: 0px auto 10px;  
}
div.boxc{
    max-width:90%;
    border: 2px solid #d1f7ff;
    background:white;
    padding:10px;
    display: inline-block;
    border-radius:10px;
    margin: 0px auto 10px;  
}
table.info{
    border: 1px solid #b5f2ff;
}
table.info td{
    border: 1px solid #b5f2ff;
}
span.pagination{
    margin:0px;
    padding:2px 4px;
}
div.err{
    margin:10px;
    color: red;
}
@media (max-width:860px){
ul.menutxt {
    display:none;
}
ul.authtxt {
    display:none;
}
ul.authimg {
    display:block;
}
ul.menuimg {
    display:block;
}
div.topdiv{
    padding:0px;
}
div.box{
    display: inline-block;
    float:none;
    max-width:90%;
    border: 2px solid #d1f7ff;
    background:white;
    padding:10px;
    border-radius:10px;
    margin: 0px auto 10px;   
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div.boxr{
    display: inline-block;
    float:none;
    max-width:90%;
    border: 2px solid #d1f7ff;
    background:white;
    padding:10px;
    border-radius:10px;
    margin: 0px auto 10px; 
}
div.center{
    text-align:center;
}
}


