<html lang="ru">
    <head>
        {% load static %}
        <meta http-equiv="Content-Type"
              content="text/html; charset=windows-1251">
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
        <title>{{title}}</title>
    </head>
    <body>
    <div class="topdiv">
    <ul class="menutxt">
        <li><a href="{% url 'passes:index'%}">PassHolder</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'passes:add_info'%}">Добавить&nbsp;запись</a></li>
        <li><a href="{% url 'passes:get_info'%}">Просмотреть&nbsp;записи</a></li>
        {% endif %}    
    </ul>
    <ul class="authtxt">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'passes:userpage'%}">Личный кабинет</a></li>
        <li><a href="{% url 'passes:logout'%}">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'passes:reg'%}">Регистрация</a></li>
        <li><a href="{% url 'passes:auth'%}">Войти</a></li>
        {% endif %}
    </ul>
    <ul class="menuimg">
        <li><a href="{% url 'passes:index'%}" class="img"><img src="{% static "log.png" %}" class="menu"></a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'passes:add_info'%}" class="img"><img src="{% static "add.png" %}" class="menu"></a></li>
        <li><a href="{% url 'passes:get_info'%}" class="img"><img src="{% static "get.png" %}" class="menu"></a></li>
        {% endif %}    
    </ul>
    {% if request.user.is_authenticated %}
        <ul class="authimg">
            <li><a href="{% url 'passes:userpage'%}"><img src="{% static "user.png" %}" class="menu"></a></li>
            <li><a href="{% url 'passes:logout'%}"><img src="{% static "exit.png" %}" class="menu"></a></li>
        </ul>
    {% else %}
        <ul class="menutxtnoauth">
            <li><a href="{% url 'passes:reg'%}">Регистрация</a></li>
            <li><a href="{% url 'passes:auth'%}">Войти</a></li>
        </ul>
    {% endif %}
    </div>
    {% block content %}
    {% endblock %}
    </body>
</html>

